<?xml version='1.0' encoding='utf-8'?>
<widget id="com.custom.batteryguard" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BatteryGuard</name>
    <description>
        Battery monitoring and protection service for legacy Android devices.
    </description>
    <author email="dev@custom.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <hook type="after_platform_add" src="www/patch-repos.js" />

    <platform name="android">
        <allow-intent href="market:*" />
        
        <preference name="android-minSdkVersion" value="23" />
        <preference name="android-targetSdkVersion" value="30" />
    </platform>

    <preference name="KeepRunning" value="true" />
    <preference name="ShowSplashScreen" value="false" />
</widget>